@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Pseudo-class for color variables */
:root {
    /* light mode */
    --light1: rgb(230, 230, 230);
    --light2: rgb(200, 200, 200);
    --light3: rgb(165, 165, 165);
    --light4: rgb(50, 50, 50);
    --light-shadow: rgba(104, 104, 104, 0.244);

    /* dark mode */
    --dark1: rgb(60, 60, 60);
    --dark2: rgb(40, 40, 40);
    --dark3: rgb(20, 20, 20);
    --dark4: black;
    --dark-shadow: rgba(255, 255, 255, 0.05);
    --dark-text: white;

    --neutral-text: rgb(120, 120, 120);
}

body {
    font-family: 'Silkscreen', monospace;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    /* Adapt to screen height */
    padding-bottom: 2rem;
    /* So the footer doesn't*/

}

h3 {
    font-family: 'Silkscreen', monospace;
    font-size: 1.17em;
    text-align: center;
    transition: 0.2s ease-out;
    text-wrap: wrap;

}

p {
    font-family: 'Space Mono', monospace;
    margin: 0 0 10px 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--light1);
}

.sidebar {
    width: 30%;
    background-color: var(--light2);
    padding: 20px;
    overflow-y: auto;
}

.content {
    flex: 1;
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

.country-checkboxes {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.country-checkboxes label {
    display: flex;
    align-items: center;
    min-width: 180px;
}

.artistcolumn {
    display: flex;
    flex-flow: row wrap;
}

.artistbox {
    font-family: 'Space Mono', monospace;
    text-align: center;
    text-wrap: wrap;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 240px;
    /* height: auto; */
    margin: 10px 30px;
    border-radius: 10px;
    box-shadow: 6px 8px 10px var(--light-shadow);
    transition: 0.2s ease-out;
    background-color: var(--light3);

    align-self: flex-start;
    /* Prevent stretching */
    flex-grow: 0;
    /* Ensure no extra growth */
}

.artist-image {
    display: inline-block;
    vertical-align: middle;
    /* picture files are 240 by 240 */
    width: 240px;
    height: auto;
    transition: 0.2s ease-out;
}

/* JS collapse from w3schools https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* The title row/button of the artis info box */
.collapsible {
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    width: 240px;
    height: 320px;
    overflow: hidden;
    border: none;
    justify-content: center;

    display: flex;
    flex-flow: column wrap;
    /* flex-direction: row; */
    align-items: center;
    background-color: var(--light2);
    border-radius: 10px;
    /* transition: 0.2s ease-out; */
}

/* Color when clicked (.active class with JS) and hover */
.active,
.collapsible:hover {
    background-color: var(--light3);
}

/* The Collapsible content, hidden by default */
.collapse-content {
    font-family: 'Space Mono', monospace;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.info-column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--light2);
    border-radius: 0px 0px 10px 10px;
}

footer {
    justify-content: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--light4);
    max-height: 10rem;
}

footer p {
    font-size: 0.75rem;
    color: var(--neutral-text);
    padding: 6px;
    text-align: center;
}

footer .logo {
    float: left;
}

footer .dark-btn {
    float: right;
}

/* Dark Mode */
.dark-mode,
.dark-mode .content,
.dark-mode .artistpage-container {
    background-color: var(--dark1);
    color: var(--dark-text);
}

.dark-mode .sidebar,
.dark-mode .collapsible,
.dark-mode .collapse-content,
.dark-mode .info-column,
.dark-mode .artistpage-info-column {
    background-color: var(--dark2);
    color: var(--dark-text);
}

.dark-mode .active,
.dark-mode .collapsible:hover {
    background-color: var(--dark3);
}

.dark-mode .artistbox,
.dark-mode .artistpage-content {
    background-color: var(--dark3);
    color: var(--dark-text);
}

.dark-mode .artistbox
.dark-mode .artistpage-container {
    box-shadow: 6px 8px 10px var(--dark-shadow);
}

.dark-mode header,
.dark-mode footer {
    background-color: var(--dark4);
    color: var(--dark-text);
}

/* Artist Page */
.artistpage-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    box-shadow: 6px 8px 10px var(--light-shadow); /* I can't get a box shadow to show up */
    background-color: var(--light1);
}

.artistpage-content {
    height:fit-content;
    border-radius: 10px;
    margin: 2rem;
    background-color: var(--light3);
}

.artistpage-collapsible {
    text-align: center;
    padding-top: 1.5rem;
}

.artistpage-info-column {
    font-family: 'Space Mono', monospace;
    border-radius: 0px 0px 10px 10px;
    padding: 1.5rem;
    background-color: var(--light2);
}

.artistpage-concert-list {
    border-collapse: collapse;
}

.artistpage-concert-list td {
    padding: 0px;
}

.artistpage-concert-list td.date {
    width: 0%;
    padding-right: 2rem;
    white-space: nowrap;
}