<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>{{.Header}}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="top-bar">
        <a href="/groupie-tracker" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
    </div>
    <div class="error-container">
        <h1>{{.Header}}</h1>
        <p>{{.Msg}}</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>
    <footer class="footer-bar">
        <a href="https://github.com/OthmaneAfilali" >Created by Othmane Afilali (oafilali)</a>
    </footer>
</body>
</html>
