<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/script.js" defer></script>
</head>
<body>
    <div class="top-bar">
        <a href="/groupie-tracker" class="nav-link">Home</a>
        <a href="/groupie-tracker/about" class="nav-link">About</a>
    </div>
    <div style="padding-top: 60px;">
        <h1>Groupie Tracker</h1>
        <div class="artist-grid">
            {{range $index, $artist := .Artists}}
            <form action="/groupie-tracker/bio" method="POST">
                <div class="artist-card">
                    <div class="artist-image-container">
                        <a href="#" class="submitLink">
                            <img src="{{$artist.Image}}" alt="{{$artist.Name}}" class="artist-image">
                        </a>
                    </div>
                    <a href="#" class="submitLink">{{$artist.Name}}</a>
                    <input type="hidden" name="name" value="{{$artist.Name}}">
                </div>
            </form>
            {{end}}
        </div>
    </div>
    <footer class="footer-bar">
        <a href="https://github.com/OthmaneAfilali" >Created by Othmane Afilali (oafilali)</a>
    </footer>
</body>
</html>